<section class="about">
  <div class="container">
    <h2 class="about-stroke-text smooth-16"> About the Game</h2>
    <div class="about-content">
      <div class="about-content-image">
        <img
          class="about-img"
          src="/img/img-desktop-dev/first-horse-about1x.png"
          alt="unicorn image 1"
        />
        <img
          class="about-img"
          src="/img/img-desktop-dev/second-horse-about1x.png"
          alt="unicorn image 1"
        />
        <img
          class="about-img"
          src="/img/img-desktop-dev/thirth-horse-about1x.png"
          alt="unicorn image 1"
        />
        <img
          class="about-img"
          src="/img/img-desktop-dev/fought-horse-about1x.png"
          alt="unicorn image 1"
        />
      </div>
      <div class="about-content-text">
        <h3 class="about-subheader">Where Magic Meets Learning</h3>
        <p class="about-description">
           Unicorns: Puzzle Game for Kids is a vibrant puzzle app designed to
          promote developmental growth through visual, interactive fun. Children
          match and place puzzle pieces to reveal charming unicorn scenes while
          strengthening cognitive abilities.
        </p>
        <ul class="about-benefits-list">
          <li class="about-benefits-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Designed for ages 2-7
          </li>
          <li class="about-benefits-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Adorable hand-drawn unicorns
          </li>
          <li class="about-benefits-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Teaches problem-solving and hand-eye coordination
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
