<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unicorns: Puzzle Game for Kids</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  


<div class="benefits">
  <div class="container">
    <h2 class="section-title">Key Benefits</h2>

    <div class="benefits-content">
      <div class="benefits-images">
        <img srcset="../img/img-desktop-dev/first-key1x.png 1x, ../img/img-desktop-dev/first-key2x.png 2x" src="../img/img-desktop-dev/first-key1x.png" alt="Unicorn main" class="main-img">
        <img srcset="../img/img-desktop-dev/thirth-key1x.png 1x, ../img/img-desktop-dev/thirth-key2x.png 2x" src="../img/img-desktop-dev/thirth-key1x.png" alt="Unicorn small" class="small-img">
        <img srcset="../img/img-desktop-dev/second-key1x.png 1x, ../img/img-desktop-dev/second-key2x.png 2x" src="../img/img-desktop-dev/second-key1x.png" alt="Unicorn very small" class="smally-img" />
      </div>

      <div class="benefits-text">
        <h3>Why Parents (and Kids) Love It</h3>
        <ul class="benefits-list">
          <li>Boosts attention span & focus</li>
          <li>Strengthens fine motor coordination</li>
          <li>Reinforces spatial awareness</li>
          <li>Celebrates effort and completion</li>
          <li>Safe, ad-free play environment</li>
        </ul>
      </div>
      </div>
    </div>
