<section class="benefits" id="benefits">
  <div class="container">
    <h2 class="section-title smooth-16">Key Benefits</h2>

    <div class="benefits-content">
      <div class="benefits-images">
        <img
          srcset="
            /img/img-desktop-dev/first-key1x.png 1x,
            /img/img-desktop-dev/first-key2x.png 2x
          "
          src="/img/img-desktop-dev/first-key1x.png"
          alt="Unicorn main"
          class="main-img"
        />
        <img
          srcset="
            /img/img-desktop-dev/thirth-key1x.png 1x,
            /img/img-desktop-dev/thirth-key2x.png 2x
          "
          src="/img/img-desktop-dev/thirth-key1x.png"
          alt="Unicorn small"
          class="small-img"
        />
        <img
          srcset="
            /img/img-desktop-dev/second-key1x.png 1x,
            /img/img-desktop-dev/second-key2x.png 2x
          "
          src="/img/img-desktop-dev/second-key1x.png"
          alt="Unicorn very small"
          class="smally-img"
        />
      </div>

      <div class="benefits-text">
        <h3 class="benefits-list-title">Why Parents (and Kids) Love It</h3>
        <ul class="benefits-list">
          <li class="benefits-list-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use></svg
            >Boosts attention span & focus
          </li>
          <li class="benefits-list-item">
            <svg class="bullet-icon-item" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use></svg
            >Strengthens fine motor coordination
          </li>
          <li class="benefits-list-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Reinforces spatial awareness
          </li>
          <li class="benefits-list-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use></svg
            >Celebrates effort and completion
          </li>
          <li class="benefits-list-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use></svg
            >Safe, ad-free play environment
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
