<section class="contact-support" id="contact-support">
  <div class="container"> 
    <h2 class="contact-title smooth-16">Contact & Support</h2>
    <div class="contact-content">
      
    <div class="contact-image">
      <img
          srcset="
            /img/img-desktop-dev/img-contact1x.png 1x,
            /img/img-desktop-dev/img-contact2x.png 2x
          "
          src="/img/img-desktop-dev/img-contact1x.png"
          alt="Girl on Unicorn"
          class="contact-img"
        />
    </div>

    <div class="contact-info">
      <p class="contact-text">Have feedback or questions? We’d love to hear from you.</p>
      <p><strong class="contact-adress">Email:</strong> <a href="mailto:info@twinklehoneyquest.com">info@twinklehoneyquest.com</a></p>
      <p><strong class="contact-adress">Support Hours:</strong> Monday–Friday, 9:00 AM – 5:00 PM GMT</p>
      <div class="social-icons">
        <span class="contact-adress">Follow Us:</span>
        <svg class="bullet-icon-item" width="30" height="30">
              <use href="/img/sprite.svg#icon-Button-inst"></use></svg>
              <svg class="bullet-icon-item" width="30" height="30">
              <use href="/img/sprite.svg#icon-Button-f"></use></svg>
              <svg class="bullet-icon-item" width="40" height="40">
              <use href="/img/sprite.svg#icon-Button-yt"></use></svg>
      </div>
    </div>

    </div>
  </div>
</section>



