<section class="contact-support" id="contact">
  <div class="container">
    <h2 class="contact-title smooth-16 contacts-desktop-title">
      Contact & Support
    </h2>
    <div class="contact-content">
      <div class="contact-image">
        <img
          srcset="
            /img/img-desktop-dev/img-contact1x.png 1x,
            /img/img-desktop-dev/img-contact2x.png 2x
          "
          src="/img/img-desktop-dev/img-contact1x.png"
          alt="Girl on Unicorn"
          class="contact-img"
        />
      </div>

      <h2 class="contact-title smooth-16 desktop-title contacts-mobile-title">
        Contact & Support
      </h2>

      <div class="contact-info">
        <h4 class="contact-text">
          Have feedback or questions? We’d love to hear from you.
        </h4>
        <p class="contact-adress-info">
          <strong class="contact-adress">Email:</strong>
          <a href="mailto:info@twinklehoneyquest.com"
            >info@twinklehoneyquest.com</a
          >
        </p>
        <div class="support-hours">
          <p>Support Hours:</p>
          <div class="support-hours-items">
            <li class="contact-item"><strong>Monday–Friday, </strong></li>
            <li class="contact-item"><strong>9:00 AM – 5:00 PM </strong></li>
            <li class="contact-item"><strong>GMT</strong></li>
          </div>
        </div>
        <div class="socials-section">
          <span class="contact-adress">Follow Us:</span>
          <div class="social-icons">
            <a href="https://www.instagram.com/" target="_blank">
              <svg class="bullet-icon" width="22" height="22">
                <use href="/img/sprite.svg#icon-Button-inst"></use>
              </svg>
            </a>
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="bullet-icon" width="22" height="22">
                <use href="/img/sprite.svg#icon-Button-f"></use>
              </svg>
            </a>
            <a href="https://www.youtube.com/" target="_blank">
              <svg class="bullet-icon" width="22" height="22">
                <use href="/img/sprite.svg#icon-Button-yt"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
