<section class="download" id="download">
  <div class="container">
    <h2 class="download-title smooth-16">Download & Play</h2>
    <div class="download-content">
      <div class="download-content-text">
        <h3 class="download-subheader">Let the Magic Begin!</h3>
        <p class="download-description">
           Give your child the gift of joy and growth — all in one adorable
          game.
        </p>
        <ul class="download-benefits-list">
          <li class="download-benefits-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Tap, match, and discover with Unicorns: Puzzle Game for Kids.
          </li>
          <li class="download-benefits-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Educational fun that keeps children happily engaged!
          </li>
        </ul>

        <a
          class="download-btn"
          href="https://play.google.com/store/apps/details?id=com.moregames.quadpuzzleunicorns&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/img/img-desktop-dev/logos_google-play-icon.png"
            alt="android icon"
          />
          Get It Now - Free on Google Play
        </a>
      </div>
      <div class="download-content-image">
        <div class="download-arrow-content">
          <svg class="download-arrow" width="150" height="150">
            <use href="/img/sprite.svg#icon-Vector"></use>
          </svg>
        </div>

        <img
          class="download-img"
          srcset="
            /img/img-desktop-dev/logo-desktop1x.png 1x,
            /img/img-desktop-dev/logo-desktop2x.png 2x
          "
          src="/img/img-desktop-dev/logo-desktop1x.png"
          alt="logo-unicorn-puzzle-game"
          width="190px"
          height="192px"
        />
      </div>
    </div>
  </div>
</section>
