<header class="header">
  <div class="container">
    <div class="wrapper-header">
      <img class="logo-img" src="./img/img-desktop-dev/logo-desktop1x.png" />

      <nav>
        <ul class="nav-list">
          <li class="nav-item"><a href="#">Home</a></li>
          <li class="nav-item"><a href="#">About the Game</a></li>
          <li class="nav-item"><a href="#">How it Works</a></li>
          <li class="nav-item"><a href="#">Key Benefits</a></li>
          <li class="nav-item"><a href="#">For Parents</a></li>
          <li class="nav-item"><a href="#">Levels & Difficulty</a></li>
          <li class="nav-item"><a href="#">Offline Acces</a></li>
          <li class="nav-item"><a href="#">Download</a></li>
          <li class="nav-item"><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
