<section class="hero">
  <div class="container">
    <h1 class="header-stroke-text smooth-16">
       Welcome to the Magical Puzzle World!
    </h1>
    <div class="hero-content">
      <div class="hero-content-text">
        <h3 class="hero-subheader">Assemble. Learn. Smile.</h3>
        <p class="hero-description">
          Enter a world of sparkles, rainbows, and unicorns! Unicorns: Puzzle
          Game for Kids is designed to spark joy, build skills, and encourage
          learning in the most enchanting way possible.
        </p>
        <ul class="hero-benefits-list">
          <li class="hero-benefits-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Easy controls for little hands
          </li>
          <li class="hero-benefits-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Wholesome puzzle playtime
          </li>
          <li class="hero-benefits-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Educational & fun for toddlers and young kids
          </li>
        </ul>
        <button class="hero-download-btn">
          <img
            src="/img/img-desktop-dev/logos_google-play-icon.png"
            alt="android icon"
          />
          <a
            href="https://play.google.com/store/apps/details?id=com.moregames.quadpuzzleunicorns&hl=en&gl=us"
          >
            Download for Free – Available on Google Play</a
          >
        </button>
      </div>
      <div class="hero-content-image">
        <picture>
          <source
            srcset="
              /img/img-mob-dev/img-hero1x.png 1x,
              /img/img-mob-dev/img-hero2x.png 2x
            "
            media="(max-width: 320px)"
          />
          <source
            srcset="
              /img/img-desktop-dev/img-hero1x.png 1x,
              /img/img-desktop-dev/img-hero2x.png 2x
            "
          />
          <img
            class="hero-img hero-img-left"
            src="/img/img-desktop-dev/img-hero1x.png"
            alt="unicorn picture"
          />
        </picture>

        <picture>
          <source
            srcset="
              /img/img-mob-dev/img-hero-mobile1x.png 1x,
              /img/img-mob-dev/img-hero-mobile2x.png 2x
            "
            media="(max-width: 320px)"
          />
          <source
            srcset="
              /img/img-desktop-dev/img-hero1x.png 1x,
              /img/img-desktop-dev/img-hero2x.png 2x
            "
          />
          <img
            class="hero-img hero-img-main"
            src="/img/img-desktop-dev/img-hero1x.png"
            alt="unicorn picture"
          />
        </picture>
        <picture>
          <source
            srcset="
              /img/img-mob-dev/img-hero1x.png 1x,
              /img/img-mob-dev/img-hero2x.png 2x
            "
            media="(max-width: 320px)"
          />
          <source
            srcset="
              /img/img-desktop-dev/img-hero1x.png 1x,
              /img/img-desktop-dev/img-hero2x.png 2x
            "
          />
          <img
            class="hero-img hero-img-right"
            src="/img/img-desktop-dev/img-hero1x.png"
            alt="unicorn picture"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
