<section class="hero">
  <div class="container">
    <h1 class="header-stroke-text smooth-16">
       Welcome to the Magical Puzzle World!
    </h1>
    <div class="hero-content">
      <div class="hero-content-text">
        <h3 class="hero-subheader">Assemble. Learn. Smile.</h3>
        <p class="hero-description">
          Enter a world of sparkles, rainbows, and unicorns! Unicorns: Puzzle
          Game for Kids is designed to spark joy, build skills, and encourage
          learning in the most enchanting way possible.
        </p>
        <ul class="hero-benefits-list">
          <li class="hero-benefits-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Easy controls for little hands
          </li>
          <li class="hero-benefits-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Wholesome puzzle playtime
          </li>
          <li class="hero-benefits-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Educational & fun for toddlers and young kids
          </li>
        </ul>
        <button class="hero-download-btn">
          <img
            src="/img/img-desktop-dev/logos_google-play-icon.png"
            alt="android icon"
          />
          Download for Free – Available on Google Play
        </button>
      </div>
      <div class="hero-content-image">
        <img
          class="hero-img hero-img-left"
          src="/img/img-desktop-dev/img-hero1x.png"
          alt=""
        />
        <img
          class="hero-img hero-img-main"
          src="/img/img-desktop-dev/img-hero1x.png"
          alt=""
        />
        <img
          class="hero-img hero-img-right"
          src="/img/img-desktop-dev/img-hero1x.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
