<section class="how-it-works" id="how-it-works">
  <div class="container">
    <h2 class="how-it-works-stroke-text smooth-16">How It Works</h2>

    <div class="how-it-works-content">
      <div class="how-it-works-text">
        <h3 class="how-it-works-subheader">Just Tap, Drag, and Place!</h3>
        <ul class="how-it-works-list">
          <li class="how-it-works-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Kids choose a puzzle image
          </li>
          <li class="how-it-works-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Drag the correct pieces into place
          </li>
          <li class="how-it-works-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            A completed unicorn scene triggers a fun animation and applause
          </li>
          <li class="how-it-works-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use>
            </svg>
            Advance to more pieces or a new image
          </li>
        </ul>
        <p class="how-it-works-description">
          The game adjusts in complexity so your child grows confidently with
          every completed puzzle!
        </p>
      </div>
      <div class="image-showcase">
        <img
          class="puzzle-piece puzzle-img-1"
          src="/img/img-desktop-dev/first-puzzle-how1x.png"
          alt="Unicorn puzzle piece 1"
        />
        <img
          class="puzzle-piece puzzle-img-2"
          src="/img/img-desktop-dev/second-puzzle-how1x.png"
          alt="Unicorn puzzle piece 2"
        />

        <img
          class="puzzle-piece puzzle-img-3"
          src="/img/img-desktop-dev/thirth-puzzle-how1x.png"
          alt="Unicorn puzzle piece 3"
        />
        <img
          class="puzzle-piece puzzle-img-4"
          src="/img/img-desktop-dev/fought-puzzle-how1x.png"
          alt="Unicorn puzzle piece 4"
        />
        <svg class="arrow-icon1" width="34" height="28">
          <use href="/img/sprite.svg#icon-Vector"></use>
        </svg>
        <svg class="arrow-icon2" width="34" height="28">
          <use href="/img/sprite.svg#icon-Vector"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
