<section class="levels" id="levels">
  <div class="container">
    <h2 class="levels-title smooth-16">Levels & Difficulty</h2>
    <div class="levels-content">
      <div class="levels-image">
      <img srcset="./img/img-desktop-dev/img-levels1x.png 1x, ./img/img-desktop-dev/img-levels2x.png 2x" src="./img/img-desktop-dev/img-levels1x.png"
          alt="Unicorn parents"
          class="levels-img"/>
    </div>
    
    <div class="levels-text">
      <h3 class="levels-subheader">Why Parents (and Kids) Love It</h3>
        <ul class="levels-list">
          <li class="levels-list-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use></svg>Boosts attention span & focus
          </li>
          <li class="levels-list-item">
            <svg class="bullet-icon-item" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use></svg>Strengthens fine motor coordination
          </li>
          <li class="levels-list-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use></svg>Reinforces spatial awareness</li>
          <li class="levels-list-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use></svg>Celebrates effort and completion
          </li>
          <li class="levels-list-item">
            <svg class="bullet-icon" width="22" height="22">
              <use href="/img/sprite.svg#bullet-icon"></use></svg>Safe, ad-free play environment
          </li>
        </ul>
    </div>
    </div>
  </div>
</section>
    
    

