.about {
  padding-top: 32px;
}

.about-stroke-text {
  --stroke-color: #c91ae8;
  --stroke-width: 2px;

  font-family: var(--font-family);
  margin-bottom: 24px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #ffffff;
  text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}

.smooth-16 {
  text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color);
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.about-content-text,
.about-content-image {
  flex: 1 1 auto;
  max-width: 100%;
  min-width: 0;
}

.about-content-text {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-content-image {
  display: flex;
  flex-direction: row;
  row-gap: 16px;
  column-gap: 25px;
  flex-wrap: wrap;
  align-items: center;
  order: 2;
}

.about-img {
  box-shadow: 0 0 12px 0 var(--stroke-for-title);
  border-radius: 24px;
}

.about-img-2,
.about-img-3,
.about-img-4 {
  display: none;
}

.about-subheader {
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
}

.about-description {
  margin-bottom: 24px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  max-width: 422px;
  color: var(--text-color);
}

.about-benefits-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}

.about-benefits-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.about-benefits-item svg {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

@media (min-width: 1200px) {
  .about {
    padding-top: 120px;
  }

  .about-stroke-text {
    font-size: 40px;
    font-weight: 50;
    margin-bottom: 56px;
  }

  .about-subheader {
    font-size: 32px;
  }

  .about-description {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .about-benefits-list {
    font-size: 20px;
    row-gap: 24px;
    margin-bottom: 0;
  }

  .about-content {
    flex-direction: row;
    gap: 24px;
  }

  .about-content-text,
  .about-content-image {
    flex: 1 1 50%;
    max-width: 50%;
  }

  .about-img-2,
  .about-img-3,
  .about-img-4 {
    display: block;
  }
}
