@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Quicksand&family=Roboto&display=swap');

:root {
  --text-color: #420d6d;
  --stroke-for-title: #c91ae8;
  --presed: #161cda;

  --font-family: 'Fredoka', sans-serif;
  --second-family: 'Quicksand', sans-serif;
  --third-family: 'Roboto', sans-serif;
  --font3: 'SF Pro', sans-serif;
}

body {
  background-image: url('/img/img-desktop-dev/back-desctop1x.png');
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: top center;
}

@media (max-width: 320px) {
  body {
    background-image: url('/img/img-mob-dev/BackMobile1px.png');
  }
}
