/* Desktop 1200px */
.benefits {
  font-weight: 500;
  font-family: var(--font-family);
  padding-top: 84px;
}
.section-title {
  --stroke-color: #c91ae8;
  --stroke-width: 2px;

  font-family: var(--font-family);
  margin-bottom: 56px;
  text-align: center;
  font-size: 40px;
  font-weight: 50;
  color: #ffffff;
  text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}

.smooth-16 {
  text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color);
}

.benefits-content {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.benefits-text,
.benefits-images {
  flex: 1 1 50%;
  max-width: 50%;
  min-width: 0;
}

.benefits-images {
  position: relative;
  width: 360px;
  height: 360px;
}

.main-img {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 12px 0 var(--stroke-color);
  transition: transform 0.3s ease;
  top: -65px;
  left: 40%;
  width: 320px;
  transform: translateX(-50%);
  z-index: 1;
}

.small-img {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 192, 255, 0.6);
  transition: transform 0.3s ease;
  bottom: 0;
  top: 20%;
  right: 0;
  width: 248px;
  z-index: -1;
}

.smally-img {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 192, 255, 0.6);
  transition: transform 0.3s ease;
  bottom: 0;
  right: 35%;
  width: 175px;
  height: 166px;
  z-index: 2;
}

.benefit-img:hover {
  transform: scale(1.05);
}

.benefits-text {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.benefits-text h3 {
  margin-bottom: 24px;
  font-size: 32px;
  color: #420d6d;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-size: 20px;
  color: #420d6d;
}

.benefits-list-title {
  font-size: 32px;
  color: #420d6d;
}

.benefits-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ballet-icon-item {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

/* Mobile — 768px */
@media (max-width: 768px) {
  .section-title {
    font-size: 28px;
  }

  .benefits-content {
    flex-direction: column;
    gap: 30px;
  }

  .benefits-images {
    width: 200px;
  }

  .small-img {
    width: 60px;
    bottom: -20px;
    right: -20px;
  }

  .benefits-text {
    text-align: center;
  }

  .benefits-text h3 {
    font-size: 20px;
  }

  .benefits-list li {
    font-size: 16px;
  }
}

/* Min mobile — 400px */
@media (max-width: 400px) {
  .section-title {
    font-size: 24px;
  }

  .benefits-list li {
    font-size: 14px;
    padding-left: 20px;
  }

  .benefits-list li::before {
    left: 0;
  }
}
