.benefits {
  font-weight: 500;
  font-family: var(--font-family);
  padding-top: 32px;
}

.section-title {
  --stroke-color: #c91ae8;
  --stroke-width: 2px;

  font-family: var(--font-family);
  margin-bottom: 24px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}

.smooth-16 {
  text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color);
}

.benefits-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}

.benefits-text,
.benefits-images {
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;
}

.benefits-text {
  order: 1;
  text-align: start;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.benefits-text h3,
.benefits-list-title {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 16px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}

.benefits-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.ballet-icon-item {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

.benefits-images {
  order: 2;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.main-img {
  position: relative;
  width: 180px;
  top: 0;
  left: -50px;
  z-index: 1;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 0 0 12px 0 var(--stroke-for-title);
}

.small-img {
  width: 100px;
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: -1;
  border-radius: 100%;
  box-shadow: 0 0 12px 0 var(--stroke-for-title);
}

.smally-img {
  width: 90px;
  height: 90px;
  position: absolute;
  bottom: -10px;
  left: 120px;
  z-index: 2;
  border-radius: 100%;
  box-shadow: 0 0 12px 0 var(--stroke-for-title);
}

.benefit-img:hover {
  transform: scale(1.05);
}

@media (min-width: 1200px) {
  .benefits {
    padding-top: 120px;
  }

  .section-title {
    font-size: 40px;
    margin-bottom: 56px;
    font-weight: 500;
    margin-bottom: 32px;
  }

  .benefits-content {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .benefits-text,
  .benefits-images {
    flex: 1 1 50%;
    max-width: 50%;
  }

  .benefits-text h3,
  .benefits-list-title {
    font-size: 32px;
    color: #420d6d;
  }

  .benefits-list {
    font-size: 20px;
    row-gap: 24px;
    color: #420d6d;
  }

  .benefits-list-item {
    gap: 12px;
  }

  .benefits-images {
    order: 1;
    width: 360px;
    height: 360px;
  }

  .benefits-images {
    order: 1;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .main-img {
    position: absolute;
    width: 320px;

    top: -60px;
    left: 0px;
    z-index: 1;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 0 12px 0 var(--stroke-for-title);
  }

  .small-img {
    width: 248px;
    height: 248px;
    position: absolute;
    top: 90px;
    right: -20px;
    z-index: -1;
    border-radius: 100%;
    box-shadow: 0 0 12px 0 var(--stroke-for-title);
  }

  .smally-img {
    width: 175px;
    height: 166px;
    position: absolute;
    bottom: -10px;
    left: 180px;
    z-index: 2;
    border-radius: 100%;
    box-shadow: 0 0 12px 0 var(--stroke-for-title);
  }
}
