.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

/* .section {
  padding: 24px 0;
  scroll-margin-top: 80px;
} */

@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 80px;
  }

  /* .section {
    padding: 40px 0;
  } */
}
