.footer {
  width: 100%;
  background: rgba(201, 26, 232, 0.5);
  padding: 16px 0;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-align: center;
  height: auto;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
}

.footer p {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-align: center;
  font-family: var(--second-family);
}

.footer p a {
  text-decoration: underline;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  font-family: var(--second-family);
}


@media (min-width: 1200px) {
  .footer {
    height: 223px;
    padding: 60px 0;
    font-size: 20px;
    text-align: center;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin-bottom: 40px;
  }

  .footer-content a {
    font-weight: 500;
    font-size: 20px;
  }

  .footer p {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }
}
