.how-it-works {
  padding-top: 84px;
}
.how-it-works-stroke-text {
  --stroke-color: #c91ae8;
  --stroke-width: 2px;

  font-family: var(--font-family);
  margin-bottom: 56px;
  text-align: center;
  font-size: 40px;
  font-weight: 50;
  color: #ffffff;
  text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}

.smooth-16 {
  text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color);
}

.how-it-works-content {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.how-it-works-text {
  flex: 0 1 658px;
}

.how-it-works-subheader {
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  color: var(--text-color);
}

.how-it-works-description {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
}

.how-it-works-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 32px;
}

.how-it-works-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.how-it-works-benefits-item svg {
  width: 22px;
  height: 22px;
  flex: 0 0 22px;
}

.image-showcase {
  flex: 0 1 352px;
  position: relative;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.image-showcase .image-row {
  display: flex;
  gap: 15px;
}

.puzzle-piece {
  position: absolute;
}

.puzzle-img-1 {
  left: -75px;
  top: -16px;

  border: 1px solid var(--text-color);
  border-radius: 24px 0 0 0;
  box-shadow: 0 0 12px 0 var(--stroke-for-title);
}

.puzzle-img-2 {
  top: 0;
  right: 0;
  border: 1px solid var(--text-color);
  border-radius: 0 24px 0 0;
  box-shadow: 0 0 12px 0 var(--stroke-for-title);
}

.puzzle-img-3 {
  bottom: 135px;
  left: 20px;
}

.puzzle-img-4 {
  bottom: 122px;
  right: 0;
  border: 1px solid var(--text-color);
  border-radius: 0 0 24px 0;
  box-shadow: 0 0 12px 0 var(--stroke-for-title);
}

.image-showcase img:hover {
  transform: translateY(-5px);
}

.arrow-icon1 {
  position: absolute;
  transform: rotate(-90deg);
  left: -125px;
  top: 20px;
}

.arrow-icon2 {
  transform: rotate(180deg);
  position: absolute;
  bottom: 80px;
  right: 60px;
}
