*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
	margin: 0;
	padding: 0;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

p:last-child {
  margin-bottom: 0;
}
home {
}

ul,
li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
